/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 1024px) {
  .wrapper {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (min-width:320px) and (max-width : 800px) {

  /* schedule */
  .schedule-tbl {padding:1px;}
  .schedule-tbl td, .schedule-tbl th {padding:10px;}
  .schedule-tbl th {
    padding: 10px;
    font-size:1.8em;
  }
  .schedule-tbl {
    width: 40px;
    height: 40px;
    margin-right:5px;
  }
  .schedule-tbl .schedule-slot {
    width: 120px;
  }
  .schedule-tbl td.schedule-slot {
    font-size:14px;
    line-height:1.2em;
  }
  .schedule-tbl .schedule-time {
    width:60px;
    padding:10px 0 10px 5px;
    text-align:left;
  }
  .schedule-tbl td.schedule-description {font-size:12px;}

  /* contact */
  .control-group-name, .control-group-email {
    clear:both;
    width:100%;
    float:none;
    margin-right:0;
  }
  .form .btn {margin-bottom:50px;}

@media only screen and (max-width : 480px) {
  /* nav */
  nav {display: none;}
  .header {padding:20px 0;}
  h2, h3, h4 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size:1.8em;}
  p {font-size:1.4em;}

  /* content */
  .content {padding: 0;}


@media only screen and (max-width : 321px) {
  .logo-name {
    font-size: 4em;
    margin-bottom:.4em;
  }
  .schedule-tbl .schedule-description {display: none;}
  .schedule-tbl .schedule-slot {width: auto;}
