/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background:#F6F6F6;
  font:normal normal 10px/1.2em; Ubuntu, helvetica, arial, sans-serif;
  color: rgba(26,23,27,1);
  height:100%;
}
/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h2, h3, h4 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom:.4em;
  letter-spacing: -.02em;
}
h3 {font-size: 2em;}
h4 {font-size:3em;}
p {
  font-size:1.6em;
  line-height:1.6em;
  margin-bottom: 1.4em;
}
.photo {
  max-width:100%;
  position:relative;
  top:-1px;
}
h1, h2, h3, h4, h5, h6 {color: rgba(26,23,27,1);}
body {
  font-family: Ubuntu;
  height:100%;
}
.global{
  height:100%;
}
a, a:hover, a:focus, a:active {text-decoration:none;}
.wrapper {
  margin: 0 auto;
  width:100%;
  height:100%;
  position:relative;
}
.content {height: 100%;}
.content section {
  min-height:100%;
  position:relative;
  display:block;
}
.container-fluid{
    padding:0;
}
ul{
    list-style-type:none;
}
/* =============================================================================
   NAVIGATION
   ========================================================================== */
nav {
    background: rgba(26,23,27,1);
    padding:0.6em 0 0.4em 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.brand{
    width: 10em;
    margin-right:10em;
}
.brand img{
    max-width:100%;
}
.navbar-inner{
    text-align:center;
}
.nav-item {
  display: inline-block;
}
.nav-link {
    color:#e7e7e7;
    padding:0em 0.5em;
    font-size:1em;
}
.nav-link.contribute-nav, .nav-link.register-nav{
    color:rgba(252,238,33,1);
}
.nav-link:active {color:rgba(252,238,33,1);}
.nav-link:hover {color:rgba(252,238,33,1);}
.nav-link:focus {color:rgba(252,238,33,1);}
/*.nav-link:visited {color:rgba(252,238,33,1);}*/
.nav-link .yellow {color:rgba(252,238,33,1);}
.nav-link .current {color:rgba(252,238,33,1);}
.facebook {margin-left:8em;}
.facebook .facebook_icon{width:1.55em;height:1.55em;border-radius:50%;}
.twitter {margin-left: -1.5em;}
.twitter .twitter_icon{width:2em;height:1.55em;border-radius:50%;}
.blog{color:#b3b3ff;}
.fr{color:#b3b3ff;}
/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  height:100%;
  padding-top: 6.25em;
}
.logosmall{
    height: 5em;
    width:15em;
}
.logosmall img{
    max-width:100%;
}
.presskitshape{
   background:color:rgba(252,238,33,1);
   width: 7em;
   height: 4em;
   background: rgba(252,238,33,1);
   -moz-border-radius: 100px / 50px;
   -webkit-border-radius: 100px / 50px;
   border-radius: 100px / 50px;
}
.presskittext{
   padding:1em;
   font-size:1.2em;
   color:rgba(0,0,255,1);
}
.wave{
  margin-top:5em;
  height:20em;
  width: 10em;
}
.wave img{
    max-width:100%;
}
.iframe-rwd  {
overflow: hidden;
height:600px;
}
iframe {
width: 100%;
height: 100%;
overflow: hidden;
padding: 0px;
margin: 0px; border: medium none;
display: block;
}
/* =============================================================================
   CONTENT
 _ ========================================================================== */
.content a{color:rgba(26,23,27,1);}
/* =============================================================================
   ABOUT
   ========================================================================== */
.about{
    background: url('../img/backgrounds/background_about.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    position:relative;
}
.aboutframe {
    margin-top:12em;
    background:rgba(255,255,255, 0.8);
    padding:2em;
    max-height:50%;
}
.aboutframe h3{
    font-size:1.8em;
    font-weight:bold;
    line-height:1.4em;
}
.aboutframe p{
    font-size: 1.2em;
}
/* =============================================================================
   TOPICS
   ========================================================================== */
.topics {
   color:white;
   height:100%;
   display:block;
   padding-bottom:10em;
}
.topicscontainer{
    width:100%;
}
.topics h3{
  color:white;
  font-weight:bold;
  line-height:1.3em;
}
.carousel .carousel-inner .slide .item {
    height:100%;
    max-height:100%;
    width:100%;
    margin-bottom:0;
}
.item img{
    height:100%;
    width:100%;
}
.carousel-caption{
    height:350px;
    width:60%;
    top:50%;
    margin: 0 auto;
    background: rgba(166,166,255,0.65);
    margin-top:-175px;
}
.carousel-caption p{
    line-height:2;
    font-weight:bold;
}
.carousel-control{
    background-color:#fff;
    margin-top: -20px;
    top:50%;
}
.carousel-indicators{
    top:60px;
    right:60px;
}
.carousel-indicators li{
    background: rgba(0,0,255,1);
    border-radius: 50% 50% 50% 50%;
    margin-left:10px;
    width:20px;
    height:20px;
}
.carousel-indicators .active{
    background: rgba(252,238,33,1);
}
/* =============================================================================
   LOCATION
   ========================================================================== */
.location{
    padding-top:8em;
}
.location h3{
    font-weight:bold;
    line-height:0.4em;
}
.cabaret{
    width:800px;
    height:500px;
}
.cabaret img {
   max-width: 100%;
}
/* =============================================================================
   SPEAKER
   ========================================================================== */
.speakers{
  padding-top:10em;
  height: 270% !important;
}
.speaker-container{
    padding-left:10%;
}
.speakers-item{
    height:12em;
    margin-bottom:4em;
}
.speaker-photo .photo {
  display:block;
  margin: auto;
  width: 10em;
  height: 10em;
  border-radius:50% 50% 50% 50%;
}
.speaker-photo img{
    width:100%;
    height:100%;
}
.speakers-name{
    margin-top:1em;
    font-size:0.8em;
    text-align:center;
    text-transform:uppercase;
}
.speakers-item p {
    font-size:1em;
    text-align:center;
}
.speakers-company{
    font-size:0.8em;
    text-transform:uppercase;
}
.speakers-bio {display: none;}
/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {
  background:#fff;
  border:1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.schedule-tbl table {background:#fff;}
.schedule-tbl td, .schedule-tbl th {border-bottom:1px solid #e7e7e7;}
.schedule-tbl tbody tr:nth-child(2n+1) {background:#f6f6f6;}
.schedule-tbl th {color:#2b2b2b;}
.schedule-tbl .speaker-photo .photo {box-shadow: 0 0 0 1px rgba(0,0,0,.3);}
.speakers-company {color:#999;}
.schedule-slot {color:#2b2b2b;}
.schedule-tbl tbody tr:hover {background:#fffde1;}
.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {color:#214f87;}

/* =============================================================================
   PARTNERS
   ========================================================================== */
.partners{
    padding-top:10em;
    background: url('../img/backgrounds/background_partners.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.partnersframe{
    background:white;
}
.fonderie2{
    height:171px;
}
.fonderie2 img{
    max-width:100%;
}
.logo img{
    padding:1em 3em;
    width:60%;
}
.partnerstext p{
  margin-top:1em;
  font-size:1.3em;
}
.contact{padding:0.5em; border-radius:20% 40% 20% 40%; background-color:rgba(252,238,33,1);}

/* =============================================================================
   SPONSORS/TEAM
   ========================================================================== */
.sponsors{
  display:block;
  height: 270% !important;
  background-color: #e6e6ff;
}
.team-container{
    padding:5% 15%;
}
.teamtext{
  padding-left:10em;
  font-size:1em;
  font-weight:bold;
  margin-bottom:3em;
}
.sponsor-photo .photo {
  display:block;
  width: 10em;
  height: 10em;
  border-radius:50% 50% 50% 50%;
}
.sponsor-photo img{
    width:100%;
    height:100%;
}
.sponsor-item {
  margin-bottom:4em;
}
.sponsor-photo {
  display: inline-block;
  float:left;
  margin-right:1em;
  width: 10em;
  height: 10em;
}
.sponsor-details{
 }
.sponsor-name{font-size:1.4em;font-weight:bold;}
.sponsor-item p {line-height:1em; font-size:1em;}
.sponsor-twitter{color:#a6a6ff;}
.sponsor-quote{color:#a6a6ff;font-style:italic;font-size:0.8em;}
.sponsor-tags{font-size:1.1em;color:#a6a6ff;}
.sponsors p {font-size:1em;}
.credits{
  margin-top:4em;
  padding-left:10em;
}
.credits p{
  font-size:1em;
  color:#0000ff;
}
.credits h2{font-size:1.5em;color:#a6a6ff;}
.credits h3{font-size:0.8em;color:#a6a6ff;}

/* =============================================================================
   CONTRIBUTE
   ========================================================================== */
.contribute{
    padding-top:8em;
    background: url('../img/backgrounds/topic6.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
}
.contribute h3{
    font-weight:bold;
}
.call{
    background-color:#5c2bdb;
}
.call p{
    font-weight: bold;
    text-transform:uppercase;
    color:white;
    font-size:1.2em;
    padding-left:1em;
    padding-top:1em;
}
.post {
  display:block;
  width: 16em;
  height: 7em;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius:         70%  50%  70%  50%  / 60%   70%   90%  90%;
}
.codesign{
  display:block;
  width: 18em;
  height: 7em;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius:         70%  50%  70%  50%  / 60%   70%   90%  90%;
}
.host{
  display:block;
  width: 16em;
  height: 8em;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius:        60%  20%  20%  30%  / 30%   50%   50%  50%;
  margin-top:-6em;
  margin-left:5em;
}
.host p{
    margin-left:1em;
}
.volunteer{
  display:block;
  width: 13em;
  height: 7em;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius:         50%  90%  90%  50%  / 60%   99%   70%  60%;
  margin-top: -4em;
}
.become {
  display:block;
  width: 15em;
  height: 8em;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius:         40%  50%  50%  99%  / 80%   50%   50%  70%;
  margin-top: -2em;
  margin-left:-3em;
}
.become p{
    margin-left:1em;
}
.sponsor{
    margin-left:1em;
}
/* =============================================================================
   REGISTER
   ========================================================================== */
.register{
    background-color:rgba(252,238,33,1);
    padding-top:4%;
    height:100%;
}
.register h3 {
    font-size:2em;
    line-height:1.8em;
}
.register p {
    font-size: 1.2em;
}
.registerright{
    color: #666;
    height:365px;
    margin-bottom:4em;
}
.registerright p{
    line-height: 1.2em;
    font-size: 1em;
}
.registerbutton{
    background-color: rgba(0,0,255,1);
    width: 200px;
    height: 140px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}
.registerbutton p{
    color:white;
    text-transform:uppercase;
    text-align:center;
    padding:20px;
}
/* =============================================================================
   CONTACT
   ========================================================================== */
.form input[type=text], .form input[type=email], .form textarea{
  color:#777;
  border:1px solid #e7e7e7;
  background:#fff;
  border-radius:4px;
}
.form input[type=text]:focus, .form input[type=email]:focus, .form textarea:focus {border-color:#aaa;outline:0;}


/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 1370px) {
   .aboutframe{
    margin-top:5em;
    padding:1em;
    max-height:50%;
  }
  .aboutframe h3{
    font-size:1.6em;
    font-weight:bold;
    line-height:1.2em;
  }
  .aboutframe p{
    font-size: 1em;
    margin-top:20px;
  }
}

@media only screen and (max-width : 1024px) {
  .header {
    background-size: auto 100%;
  }
  .nav-link{
      font-size:0.8em;
      padding:0 0.2em;
  }
  .brand{
      margin-right:4em;
  }
  .facebook{
      margin-left:4em;
  }
  .twitter{
      margin-left:1.2em;
  }
  .aboutframe{
      margin-top:10px;
  }
  .sponsors{
      height: 280% !important;
  }
  .volunteer{
      margin-top: -2em;
  }
  .registerbutton{
      display:none;
  }
}
@media only screen and (max-width : 480px) {
  /* speakers */
  .speaker-photo .photo {box-shadow: 0 0 0 3px rgba(0,0,0,.07);}
  .speech-title {font-weight: bolder;}
  .speech-time {
    color:#2b2b2b;
    background: transparent;
    font-weight: bolder;
  }
  .github-link { display: none; }
}